<%visitor = notification.visitor %>
<%visited = notification.visited %>
<%optional = notification.optional %>
<% relationship = Relationship.find_by(user_id: current_user.id, band_id: notification.band.id) if notification.band_id%>

<img src=<%= visitor.image %> alt class = "icon_image">
<%=link_to visitor.name, visitor %>さんが

<%case notification.action %>
  <%when 'invitation' then%>
    あなたを<%= link_to notification.band.name, notification.band %><%="の#{relationship.part}" if relationship%>に招待しました
    <% if relationship %>
     <%if relationship.permission == false %>
        <%=link_to "参加する","/relationships/#{relationship.id}", method: :post, class: "btn btn-primary btn-xs" %>
        <%=link_to "拒否する","/relationships/#{relationship.id}", method: :delete, class: "btn btn-danger btn-xs"  %>
      <%else %>
      <p class="btn btn-info btn-xs" disabled="disabled">参加済み</p>
     <%end %>
    <%else %>
      <p class="btn btn-success btn-xs" disabled="disabled">無効な通知です</p>
    <%end %>

  <%when 'invitation_other' then %>
  <%= link_to notification.band.name, notification.band %><%="の#{relationship.part}" if relationship%>に<%=link_to optional.name, optional %>を招待しました

  <%when 'cancel' then%>
  あなたへの招待をキャンセルしました
  (<%= link_to notification.band.name, notification.band %>)

  <%when 'cancel_other' then %>
  <%=link_to optional.name, optional %>さんへの招待をキャンセルしました
  (<%= link_to notification.band.name, notification.band %>)

<%when 'quit' then %>
  あなたを<%= link_to notification.band.name, notification.band %>から除名しました

  <%when 'quit_other' %>
    <%if visitor.id == optional.id %>
     <%= link_to notification.band.name, notification.band %>を退会しました
    <%else %>
     <%= link_to notification.band.name, notification.band %>から<%=link_to optional.name, optional %>を除名しました
    <%end %>

  <%when 'participated' then%>
  <%= link_to notification.band.name, notification.band %><%="の#{relationship.part}" if relationship%>に参加しました

  <%when 'decline' then%>
  <%= link_to notification.band.name, notification.band %>への招待を拒否しました





  <%when 'band_destroy' then %>
  <%= notification.destroy_band %>を削除しました

<%end %>
<%=time_ago_in_words(notification.created_at).upcase %>
<br>
