<%visitor = notification.visitor %>
<%visited = notification.visited %>
<%=link_to visitor.name, visitor %>さんがあなたを

<%case notification.action %>
  <%when 'invitation' then%>
  <%relationship = Relationship.find_by(user_id: current_user.id, band_id: notification.band.id) %>
    <%= link_to notification.band.name, notification.band %>の<%=relationship.part%>に招待しました
    <% if relationship %>
     <%if relationship.permission == false %>
        <%=link_to "参加する","/relationships/#{relationship.id}", method: :post, class: "btn btn-primary btn-xs" %>
        <%=link_to "拒否する","/relationships/#{relationship.id}", method: :delete, class: "btn btn-danger btn-xs"  %>
      <%else %>
      <p class="btn btn-info btn-xs" disabled="disabled">参加済み</p>
     <%end %>
    <%else %>
      <p class="btn btn-success btn-xs" disabled="disabled">無効な通知です</p>
    <%end %>
  <%=time_ago_in_words(notification.created_at).upcase %>
  <br>
<%end %>
