



<div class="index_container">
<div class="sidebar">
    <div class="sidebar__item">
        <div class="serchBox_m">条件で絞り込む</div>
<%= search_form_for @q do |f| %>

<div class="serchBox_m">名前</div>
<%= f.search_field :name_cont %> <br>
<div class="serchBox_m">入部年</div>
<%= f.number_field :participated_at_gteq %>以上〜
<%= f.number_field :participated_at_lt %>未満 <br>
<div class="serchBox_m">性別</div>
<%= f.radio_button :gender_eq, '', {:checked => true} %>指定なし
<%= f.radio_button :gender_eq, 0 %>男性
<%= f.radio_button :gender_eq, 1 %>女性 <br>
  <div class="serchBox_m">メインパート</div>
  <%= f.select :main_part_eq,[["Vo","Vo"],["Gt","Gt"],["Ba","Ba"],["Dr","Dr"],["Key","Key"]],{include_blank: true}%>
  <div class="serchBox_m">役職</div>
  <%= f.select :roll_eq,[["平部員","平部員"],["平部長","平部長"],["幹事","幹事"],["会計","会計"],["渉外","渉外"],["機材","機材"],["部長","部長"],["副部長","副部長"],["次期部長","次期部長"],["次期副部長","次期副部長"]],{include_blank: true}%> <br>

<div class=serchButton_m><%= f.submit %><br></div>
<%end %>
    </div>
  </div>
  <main class="main">
  <div class="emphasis">部員をさがす </div>


<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th ><%= sort_link(@q, :name, "名前") %></th>
    <th ><%= sort_link(@q, :gender, "性別") %></th>
    <th ><%= sort_link(@q, :main_part, "パート") %></th>
    <th ><%= sort_link(@q, :roll, "役職") %></th>

    <th ><%= sort_link(@q, :participated_at, "入部年(代)") %></th>


  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td ><img src=<%= user.image %> alt class = "icon_image">
        <%=link_to user.name, user%></td>
      <td ><%= user.what_gender %> </td>
      <td ><%= user.main_part %> </td>
      <td ><%= user.roll %> </td>
      <td ><%="#{user.participated_at}年(#{user.what_generation?}代)" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  </main>

</div>

<%=paginate @users %>
