<h1>プロフィール</h1>
<%= "名前 #{@user.name}" %> <br>
<%= "性別 #{@user.what_gender}" %> <br>
<%= "#{@user.generation}代" %> <br>
<%= "持ちバンド #{@user.bands.count}" %> <br>
 <% if @user == current_user %>
   <%="メールアドレス #{@user.email}" %>
<p></p>
<%= link_to "ユーザー情報を編集する",      edit_user_registration_path, class: "btn btn-primary" %>
  <% end %>
