<h1>プロフィール</h1>
<%= link_to "ユーザー情報を編集する",      edit_user_registration_path, class: "btn btn-primary" %> <br>
<p></p>
<%= "名前 #{@user.name}" %> <br>
<%= "性別 #{@user.what_gender}" %> <br>
<%= "#{@user.generation}代" %> <br>
 <% if @user == current_user %>
   <%="メールアドレス #{@user.email}" %>
 <%end %>
<h4><%= "持ちバンド #{@user.bands.count}" %> </h4>
  <table>
    <thead>
    <tr>
      <th width="60"><%= sort_link(@q, :relationships_part, "パート") %></th>
      <th width="300"><%= sort_link(@q, :name, "バンド名") %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td width="60"><% relationship=Relationship.find_by(band_id:band.id,user_id:@user.id) %>
          <%=relationship.part %></td>
        <td width="300"><%=link_to band.name, band%> </td>
      </tr>

    <% end %>
    </tbody>
  </table>
