<!DOCTYPE html>
<html>
  <head>
    <title>FSCAppForDvise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
       <%= link_to "FSCapp", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ホーム",   root_path %></li>
          <li><%= link_to "ヘルプ",   static_pages_help_path %></li>
          <%if user_signed_in? %>
            <li><%= link_to "プロフィール" ,    current_user %></li>
            <li><%= link_to "部員一同",    users_path %></li>
            <li><%= link_to "バンド一覧",    bands_path %></li>
            <li><%= link_to "ログアウト" ,      destroy_user_session_path ,method: :delete%></li>
          <%else %>
            <li><%= link_to "ログイン",     new_user_session_path %></li>
            <li><%= link_to "ユーザー登録",     new_user_registration_path %></li>
          <%end %>
            </ul>
      </nav>
    </div>
  </header>
  <br>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
